$color_1: #46a358;
$color_2: #1a712a;
$color_3: #3d3d3d;
$color_4:#fff;
$color_5:#a5a5a5;
$font-family_1: 'cera_proregular';
$font-family_2: 'cera_promedium';
$font-family_3: 'cera_probold';


@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cerapro-black-webfont.eot');
  src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-black-webfont.woff') format('woff'),
  url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cerapro-medium-webfont.eot');
  src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-medium-webfont.woff') format('woff'),
  url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_prolight';
  src: url('../fonts/cerapro-light-webfont.eot');
  src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-light-webfont.woff') format('woff'),
  url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_prothin';
  src: url('../fonts/cerapro-thin-webfont.eot');
  src: url('../fonts/cerapro-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-thin-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-thin-webfont.woff') format('woff'),
  url('../fonts/cerapro-thin-webfont.svg#cera_prothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  z-index: 1;
  animation: hide-preloader 2s 2s forwards;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 3s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: $color_1;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;

  &:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes hide-preloader {
  to {
    opacity: 0;
    display: none;
  }
}

input {
  font-family: $font-family_1;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: $color_5;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: block;
}

.input-box {
  position: relative;

  img {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 5px;
  }
}

.register {
  font-family: $font-family_3;
  border-radius: 5px;
  width: 300px;
  background: $color_1;
  border: none;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $color_4;
  padding: 15px 0;
  margin-bottom: 36px;
  margin-top: 40px;
  transition: 0.2s;
}

button:hover {
  background-color: $color_2;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 52px 100px 50px;
  box-sizing: border-box;
  border-bottom: 10px solid $color_1;
  position: relative;

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: 0.2s;
  }
}

.close:hover svg path {
  stroke: $color_1;
}

#box_model {
  text-align: center;
  margin-bottom: 40px;
}

.text {
  font-family: $font-family_1;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: $color_3;
  margin-bottom: 14px;
}

.mb {
  margin-bottom: 27px;
  text-align: center;

  &:before, &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 97px;
    height: 1px;
    border: solid #eaeaea;
    border-width: 1px 0;
  }

  &:before {
    margin-left: -100%;
  }

  &:after {
    margin-right: -100%;
  }
}

.container {
  #box_model span {
    &:first-of-type {
      font-family: $font-family_2;
      font-weight: 500;
      font-size: 20px;
      line-height: 80%;
      color: $color_3;
      margin-right: 12px;
    }

    &:nth-child(2) {
      font-family: 'cera_prothin';
      font-weight: 250;
      font-size: 18px;
      line-height: 89%;
      color: $color_3;
      margin-right: 12px;
    }

    &:last-of-type {
      font-family: $font-family_2;
      font-weight: 500;
      font-size: 20px;
      line-height: 80%;
      color: $color_1;
    }
  }

  a {
    font-family:$font-family_2;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    text-decoration: none;
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 11px 11px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}

img {
  margin-right: 9px;

  &:last-of-type {
    margin-right: 4px;
  }
}

.container1 {
  max-width: 1200px;
  margin: auto;

  &.menu1 {
    border-bottom: solid 1px #edf6ee;
    margin-bottom: 12px;
  }
}

header {
  padding-top: 31px;

  nav {
    display: inline-block;

    li {
      display: inline-block;
    }
  }

  .logo {
    display: inline-block;
  }

  ul {
    list-style: none;
    margin-top: 5px;
    display: flex;
  }

  nav li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: $color_3;
    font-family: $font-family_1;
  }

  .logo {
    float: left;
    margin-right: 229px;
  }

  .login {
    float: right;
  }

  nav {
    ul li.menu {
      margin-right: 50px;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  .menu:after {
    height: 3px;

    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;
  }

  nav li {
    &:hover:after {
      background-color: $color_1;
    }

    a:hover {
      content: "";
      font-family:$font-family_3;
      font-weight: 700;
    }
  }
}

.login {
  font-family:$font-family_2;
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: $color_4;
  background: $color_1;
  border: none;
  height: 35px;
  text-decoration: none;
  line-height: 100%;
  padding: 8px 18px;
  transition: 0.2s;

  &:hover {
    background-color: $color_2;
    transform: scale(2);

    &:before {
      transform: rotate(360deg);
    }
  }

  &:before {
    content: "";
    background-image: url("../img/logout.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    transition: 0.6s;
  }
}

header {
  nav {
    ul {
      li {
        .dropdown, .moveright {
          position: relative;
        }
      }

      &.submenu {
        display: block;
        background-color: #edf6ee;
        position: absolute;
        height: 0;
        opacity: 0;
        top: 85px;
        margin-left: -50px;
        min-width: 188px;
      }

      .submenu li {
        a svg {
          margin-left: 90px;
        }

        &:last-of-type:hover a svg {
          transform: rotate(180deg);
          transition: 1s;

          path {
            stroke: white;
          }
        }

        display: block;
      }
    }

    .submenu li a {
      font-family: $font-family_1;
      display: block;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      color: $color_3;
      padding: 10px 14px;
    }
  }

  .dropdown:hover .submenu {
    opacity: 1;
    height: auto;
    transition: 0.5s;
  }

  nav li ul li a:hover {
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 16px;
    color:$color_4;
    background: $color_2;
  }

  .moveright {
    &:hover .sub-submenu {
      opacity: 1;
      height: auto;
      transition: 0.5s;
    }

    .sub-submenu {
      display: block;
      background-color: #edf6ee;
      position: absolute;
      opacity: 0;
      height: 0;
      min-width: 180px;
      right: -182px;
      bottom: -80px;
    }
  }
}

.banner {
  .container1 {
    background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  article {
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
    margin-left: 40px;
  }
}

h4 {
  font-family: $font-family_2;
  max-width: 530px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color_3;
  margin-bottom: 7px;
}

h1 {
  font-family: 'cera_problack';
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color_3;
  margin-bottom: 5px;
}

.banner {
  h1 span {
    color: $color_1;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: $font-family_1;
  }

  .container1 a {
    font-family: $font-family_3;
    border-radius: 6px;
    border: none;
    height: 40px;
    color: $color_4;
    background: $color_1;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    padding: 10px 26px;
    transition: 0.2s;

    &:hover {
      background-color: $color_2;
    }

    &:last-of-type {
      display: inline-block;
      position: relative;
      animation: grow 0.8s infinite;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.categories {
  .container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
  }

  .left_sitebar {
    background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
    max-width: 310px;
    min-height: 800px;
    width: 100%;
    padding-top: 14px;
    padding-left: 18px;

    h5 {
      font-family: $font-family_3;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: $color_3;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      margin-left: 12px;
    }

    li a {
      font-family: $font-family_1;
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;
      line-height: 267%;
      color: $color_3;

      &:hover {
        content: "";
        font-family: $font-family_3;
        color: $color_1;
        font-weight: 700;
      }
    }
  }

  .right_content {
    max-width: 840px;
    width: 100%;
    margin-bottom: 90px;

    .flex2 {
      display: flex;
      justify-content: space-between;
    }

    .flex3 {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
    }

    article {
      width: 258px;
      margin-bottom: 70px;
      border-top: solid 1px transparent;
      position: relative;

      &:hover {
        border-top: solid 1px $color_1;
      }

      .sale {
        font-family: $font-family_2;
        position: absolute;
        left: 0;
        top: 14px;
        background-color: $color_1;
        padding: 6px 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $color_4;
      }

      ul {
        list-style: none;
        display: flex;
        position: absolute;
        bottom: 60px;
        left: calc(50% - 57px);
        width: 125px;
        opacity: 0;
        transition: 0.4s;
      }

      &:hover ul {
        opacity: 1;
      }

      ul li {
        margin-right: 26px;
      }
    }
  }
}

.right_content .flex2 {
  ul {
    display: flex;
    list-style: none;
    margin-bottom: 31px;
  }

  div li {
    margin-right: 38px;

    a {
      font-family: $font-family_1;
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;
      color: $color_3;
    }

    &:after {
      height: 3px;

      /*background-color: #46a358;*/
      background-color: transparent;
      width: 100%;
      content: "";
      display: block;
      margin-top: 7px;
      transition: 0.3s;
    }

    &:hover:after {
      background-color: $color_1;
    }

    a:hover {
      content: "";
      font-family: $font-family_3;
      font-weight: 700;
      color: $color_1;
    }
  }

  p {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: $color_3;

    &:after {
      content: "";
      background-image: url("../img/arrow.svg");
      display: inline-block;
      width: 12px;
      height: 8px;
      margin-left: 5px;
    }
  }
}

.product {
  font-family:$font-family_1;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $color_3;
}

.right_content article {
  img {
    margin-bottom: 12px;
  }

  p {
    font-family:$font-family_3;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: $color_1;
    margin-top: 6px;
  }

  ul li:hover {
    stroke: $color_1 !important;
  }

  p span {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: $color_5;
    margin-left: 14px;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $color_5;
      bottom: 10px;
      left: 0px;
    }
  }
}

.pages {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }
}

.active_pages {
  font-family: 'cera_prolight';
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: $color_3;
  height: 35px;
  line-height: 35px;
  padding: 6px 12px;
  margin-right: 10px;

  &:hover {
    content: "";
    font-family: $font-family_3;
    background-color: $color_1;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: $color_4;
  }
}

.pages ul li {
  &:hover a svg path {
    stroke: white !important;
  }

  a svg:last-of-type {
    display: inline-block;
    position: relative;
    animation: slidering  1s infinite;
  }
}

@keyframes slidering {
  0% {
    left: -6px;
  }

  25% {
    left: -3px;
  }

  50% {
    left: 0px;
  }

  75% {
    left: 3px;
  }

  100% {
    left: 6px;
  }
}

.blog {
  .flex4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
  }

  .top_content {
    img {
      width: 586px;
      height: 302px;
    }

    position: relative;

    .range {
      position: absolute;
      right: 30px;
      top: 89px;
    }

    h3 {
      font-family: 'cera_problack';
      font-weight: 900;
      font-size: 18px;
      line-height: 133%;
      text-transform: uppercase;
      text-align: right;
      color: $color_3;
      margin-bottom: 9px;
    }

    p {
      font-family: $font-family_1;
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      text-align: right;
      color: #727272;
      margin-bottom: 25px;
    }

    a {
      font-family: $font-family_2;
      text-align: center;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      color: $color_4;
      background: $color_1;
      border: none;
      height: 40px;
      text-decoration: none;
      line-height: 143%;
      padding: 8px 18px;
      float: right;
      transition: 0.2s;

      &:hover {
        background-color: $color_2;
      }

      &:after {
        content: "";
        background-image: url("../img/arrow_right.svg");
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 2px;
      }
    }
  }

  h2 {
    font-family:$font-family_3;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color:$color_3;
    margin-bottom: 15px;
  }

  span {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 35px;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .flex5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .bottom_content img {
    width: 268px;
    height: 195px;
    margin-left: -13px;
    margin-bottom: 9px;
  }

  .data {
    font-family: $font-family_2;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $color_1;
    margin-bottom: 4px;
  }

  .bottom_content h3 {
    font-family:$font-family_3;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: $color_3;
    margin-bottom: 4px;
  }
}

.bottom_content p {
  font-family:$font-family_1;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  margin-bottom: 9px;
}

.blog .bottom_content {
  a {
    font-family:$font-family_2;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $color_3;
    text-decoration: none;

    &:hover {
      content: "";
      font-family: $font-family_2;
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      color: $color_1;

      svg path {
        stroke: $color_1 !important;
      }
    }
  }

  background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
  width: 268px;
  min-height: 362px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
}

footer {
  .flex6 {
    display: flex;
    justify-content: space-between;
    padding: 24px 25px;
    background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
  }

  .newsletters {
    min-width: 204px;
    min-height: 202px;

    &:first-of-type, &:nth-child(2) {
      border-right: 1px solid rgba(70, 163, 88, 0.1);
      padding-right: 30px;
    }
  }
}

.newsletters {
  h5 {
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: $color_3;
    margin-top: 12px;
    margin-bottom: 9px;
  }

  p {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
  }
}

footer {
  .email {
    h5 {
      font-family: $font-family_3;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: $color_3;
      margin-top: 14px;
      margin-bottom: 25px;
    }

    p {
      font-family:$font-family_1;
      font-weight: 400;
      font-size: 13px;
      line-height: 169%;
      color: #727272;
    }

    span {
      display: inline-block;
      display: flex;
      width: 354px;
      height: 40px;
      margin-bottom: 18px;

      button {
        font-family: $font-family_3;
        border-radius: 0 6px 6px 0;
        background: $color_1;
        width: 85px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: $color_4;
        padding: 12px 26px;
        transition: 0.2s;
        border: none;

        &:hover {
          background-color: $color_2;
        }
      }

      input {
        border-radius: 6px 0 0 6px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
        background: $color_4;
      }
    }
  }

  .bg_gradient {
    display: flex;

    /* justify-content: space-between;*/
    padding: 25px 22px 19px 23px;

    /*text-align: center;*/
    width: 1200px;
    height: 88px;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #EDF6EF, #52C368);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #EDF6EF, #52C368);

    /* IE 10 */
    background: -ms-linear-gradient(left, #EDF6EF, #52C368);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #EDF6EF, #52C368);

    ul {
      display: flex;
      list-style: none;
      align-items: center;
    }

    li {
      margin-left: 155px;
    }

    ul li a {
      font-family:$font-family_1;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color:$color_3;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .address:before {
      content: "";
      background-image: url("../img/location.svg");
      display: inline-block;
      width: 14px;
      height: 18px;
      margin-right: 13px;
    }

    .contact:before {
      content: "";
      background-image: url("../img/message.svg");
      display: inline-block;
      width: 20px;
      height: 18px;
      margin-right: 13px;
    }

    .tel:before {
      content: "";
      background-image: url("../img/phone.svg");
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 13px;
    }
  }

  .content-block {
    display: flex;
    justify-content: space-between;
    padding: 33px 155px 27px 25px;
    background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
    border-bottom: solid 1px #edf6ee;
    margin-bottom: 6px;

    h5 {
      font-family: $font-family_3;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: $color_3;
      margin-bottom: 8px;
    }

    ul {
      list-style: none;

      li a {
        font-family: $font-family_1;
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color:$color_3;
        text-decoration: none;
      }
    }

    .media {
      li {
        border: 1px solid rgba(70, 163, 88, 0.2);
        border-radius: 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 2px;
        display: inline-block;
        margin: 12px 10px 33px 0;
        transition: 0.2s;

        &:hover {
          transform: scale(2);
        }
      }

      h5:last-of-type:after {
        content: "";
        background-image: url("../img/bank.svg");
        display: block;
        width: 224px;
        height: 26px;
        margin-top: 13px;
      }
    }
  }
  .container1 span {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: $color_3;
    display: flex;
    justify-content: center;
  }
}

