@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cerapro-black-webfont.eot');
  src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-black-webfont.woff') format('woff'),
  url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cerapro-medium-webfont.eot');
  src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-medium-webfont.woff') format('woff'),
  url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_prolight';
  src: url('../fonts/cerapro-light-webfont.eot');
  src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-light-webfont.woff') format('woff'),
  url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input{
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: block;
}
input:last-of-type{
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 40px;
  display: block;
}
button{
  border-radius: 5px;
  width: 300px;
  background: #46a358;
  border: none;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 36px;
}
.container{
  max-width: 500px;
  margin:auto;
  padding: 52px 100px 50px;
  box-sizing: border-box;
}
#box_model{
  text-align: center;
  margin-bottom: 40px;
}
.text{
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
}
.mb{
  margin-bottom: 27px;
  text-align: center;
}
.container #box_model span:first-of-type{
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #3d3d3d;
  border-right: solid 1px black;
  padding-right: 11px;
  margin-right: 11px;
}
.container #box_model span:last-of-type{
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #46a358;
}
.container a{
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  color: #727272;
  text-decoration: none;
  display: block;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding: 11px 11px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
img{
  margin-right: 9px;
}
img:last-of-type{
  margin-right: 4px;
}



.container1{
  max-width: 1200px;
  margin: auto;
}
.container1.menu{
  border-bottom: solid 1px #46a358 ;
  margin-bottom: 12px;
}
header{
  padding-top: 31px;
}
header nav, header nav li,header .logo{
  display: inline-block;
}
header ul{
  list-style: none;
  margin-left: 229px;
  margin-top: 5px;
}
header nav li a{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  font-family: 'cera_proregular';
}
header .logo{
  float: left;
}
header .login{
  float: right;
}
header nav li{
  margin-right: 50px;
}
header nav li:last-of-type{
  margin-right: 0;
}
header nav li:after{
  height: 3px;
  /*background-color: #46a358;*/
  background-color: transparent;
  width: 100%;
  content: "";
  display: block;
  margin-top: 22px;
  transition: 0.3s;
}
header nav li:hover:after{
  background-color: #46a358;
}
header nav li a:hover{
  content: "";
  font-family: 'cera_probold';
  font-weight: 700;
}
.login{
  font-family: 'cera_promedium';
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #46a358;
  border: none;
  height: 35px;
  text-decoration: none;
  line-height: 100%;
  padding: 8px 18px;
}
.login:before{
  content: "";
  background-image: url("../img/logout.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}



.banner .container1{
  background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}
.banner article{
  max-width: 557px;
  display: inline-block;
  margin-right: 93px;
  margin-left: 40px;
}
h4{
  font-family: 'cera_promedium';
  max-width: 530px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px;
}
h1{
  font-family: 'cera_problack';
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
}
.banner h1 span{
  color: #46a358;
}
.banner p{
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
  font-family: 'cera_proregular';
}
.banner .container1 a{
  font-family: 'cera_probold';
  border-radius: 6px;
  border: none;
  height: 40px;
  color: #fff;
  background: #46a358;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  padding: 10px 26px;
}



.categories .container1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.categories .left_sitebar{
  background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
  max-width: 310px;
  min-height: 800px;
  width: 100%;
  padding-top: 14px;
  padding-left: 18px;
}
.categories .left_sitebar h5{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.categories .left_sitebar ul{
  list-style: none;
  margin-left: 12px;
}
.categories .left_sitebar li a{
  font-family: 'cera_proregular';
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
}
.categories .left_sitebar li a:hover{
  content: "";
  font-family: 'cera_probold';
  color: #46a358;
  font-weight: 700;
}


.categories .right_content {
  max-width: 840px;
  width: 100%;
  margin-bottom: 90px;
}
.categories .right_content  .flex2{
  display: flex;
  justify-content: space-between;
}
.categories .right_content  .flex3{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.categories .right_content article{
  width: 258px;
  margin-bottom: 70px;
}
.right_content .flex2 ul{
  display: flex;
  list-style: none;
  margin-bottom: 31px;
}
.right_content .flex2 nav li{
  margin-right: 38px;
}
.right_content .flex2 nav li a{
  font-family: 'cera_proregular';
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
.right_content .flex2 nav li:after{
  height: 3px;
  /*background-color: #46a358;*/
  background-color: transparent;
  width: 100%;
  content: "";
  display: block;
  margin-top: 7px;
  transition: 0.3s;
}
.right_content .flex2 nav li:hover:after{
  background-color: #46a358;
}
.right_content .flex2 nav li a:hover{
  content: "";
  font-family: 'cera_probold';
  font-weight: 700;
  color: #46a358;
}
.right_content .flex2 p{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
/*ПОСТАВИТЬ ЗНАЧЕК НА УРОВНЕ С ТЕКСТОМ*/
.right_content .flex2 p:after{
  content: "";
  background-image: url("../img/arrow.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
}
.product{
  font-family: 'cera_proregular';
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
}
.right_content article img{
  margin-bottom: 12px;
}
.right_content article p{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358;
  margin-top: 6px;
}
.pages{
  display: flex;
  justify-content: flex-end;
}
.pages ul{
  list-style: none;
}
.pages li {
  display: inline-block;
}
.active_pages{
  font-family: 'cera_prolight';
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  height: 35px;
  line-height: 35px;
  padding: 6px 12px;
  margin-right: 10px;
}
.active_pages:hover{
  content: "";
  font-family: 'cera_probold';
  background-color: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #fff;
}
.pages img{
  margin: 0 auto;
}
